/* Footer Section */

  footer {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    color: #c2c2c2;
  }

  .footer2 {
    height: 15vh;
  }